{{- define "video.location" -}}
{{- with .V "LOCATION" -}}
{{- if contains "Case" . }}
   <location>Basement</location>
{{- else }}
   <location>{{ . | xml }}</location>
{{- end -}}
{{- end -}}
{{- end -}}
