{{- define "books.aggregate" -}}
{{- /* Default aggregation template for books entries. */ -}}
{{- /* Calls the built-in aggregation logic to populate Credits and Markers. */ -}}
{{- .Aggregate -}}
{{- end -}}
