{{- define "music.aggregate" -}}
{{- /* Default aggregation template for music entries. */ -}}
{{- /* Calls the built-in aggregation logic to populate Credits and Markers. */ -}}
{{- .Aggregate -}}
{{- end -}}
