{{- define "video.entry" -}}
  {{- template "video.aggregate" . }}
  <entry id="{{ or (.V "ROWKEY") (.V "ROW#") | xml }}">
   {{- /* Tellico "video" fields */ -}}
   {{- template "video.title" . }}
   {{- template "video.medium" . }}
   {{- template "video.year" . }}
   {{- template "video.certification" . }}
   {{- template "video.genre" . }}
   {{- template "video.region" . }}
   {{- template "video.nationality" . }}
   {{- template "video.format" . }}
   {{- template "video.cast" . }}
   {{- template "video.director" . }}
   {{- template "video.producer" . }}
   {{- template "video.writer" . }}
   {{- template "video.composer" . }}
   {{- template "video.studio" . }}
   {{- template "video.language" . }}
   {{- template "video.subtitle" . }}
   {{- template "video.audio-track" . }}
   {{- template "video.running-time" . }}
   {{- template "video.aspect-ratio" . }}
   {{- template "video.widescreen" . }}
   {{- template "video.color" . }}
   {{- template "video.sound" . }}
   {{- template "video.directors-cut" . }}
   {{- template "video.plot" . }}
   {{- template "video.rating" . }}
   {{- template "video.pur_date" . }}
   {{- template "video.gift" . }}
   {{- template "video.pur_price" . }}
   {{- template "video.loaned" . }}
   {{- template "video.keyword" . }}
   {{- template "video.cover" . }}
   {{- template "video.comments" . }}
   {{- template "video.cdate" . }}
   {{- template "video.mdate" . }}
   {{- /* Tellico "special" fields for Readerware Video */ -}}
   {{- template "video.alttitle" . }}
   {{- /* Custom fields for Readerware Video */ -}}
   {{- template "video.screenwriter" . }}
   {{- template "video.photographer" . }}
   {{- template "video.editor" . }}
   {{- template "video.pub_place" . }}
   {{- template "video.rel_date" . }}
   {{- template "video.cr_date" . }}
   {{- template "video.anamorphic" . }}
   {{- template "video.subtitled" . }}
   {{- template "video.closed_cap" . }}
   {{- template "video.book" . }}
   {{- template "video.author" . }}
   {{- template "video.copies" . }}
   {{- template "video.rw_barcode" . }}
   {{- template "video.rw_upc" . }}
   {{- template "video.isbn" . }}
   {{- template "video.lccn" . }}
   {{- template "video.dewey" . }}
   {{- template "video.call_number" . }}
   {{- template "video.rw_user_number" . }}
   {{- template "video.series" . }}
   {{- template "video.transfer_rating" . }}
   {{- template "video.condition" . }}
   {{- template "video.cover_condition" . }}
   {{- template "video.rw_category" . }}
   {{- template "video.location" . }}
   {{- template "video.played_count" . }}
   {{- template "video.date_last_played" . }}
   {{- template "video.playlist" . }}
   {{- template "video.extras_info" . }}
   {{- template "video.rw_source" . }}
   {{- template "video.pur_place" . }}
   {{- template "video.list_price" . }}
   {{- template "video.item_value" . }}
   {{- template "video.val_date" . }}
   {{- template "video.currency_symbol" . }}
   {{- template "video.favorite" . }}
   {{- template "video.out_of_print" . }}
   {{- template "video.media_url" . }}
   {{- template "video.owner" . }}
   {{- template "video.rw_status" . }}
   {{- template "video.rw_external_id" . }}
   {{- template "video.inventory" . }}
   {{- template "video.asin" . }}
   {{- template "video.sale_price" . }}
   {{- template "video.sale_date" . }}
   {{- template "video.new_value" . }}
   {{- template "video.new_count" . }}
   {{- template "video.used_value" . }}
   {{- template "video.used_count" . }}
   {{- template "video.collectible_value" . }}
   {{- template "video.collectible_count" . }}
   {{- template "video.buyer_waiting" . }}
   {{- template "video.weight" . }}
   {{- template "video.sales_rank" . }}
   {{- template "video.rw_user1" . }}
   {{- template "video.rw_user2" . }}
   {{- template "video.rw_user3" . }}
   {{- template "video.rw_user4" . }}
   {{- template "video.rw_user5" . }}
   {{- template "video.rw_user6" . }}
   {{- template "video.rw_user7" . }}
   {{- template "video.rw_user8" . }}
   {{- template "video.rw_user9" . }}
   {{- template "video.rw_user10" . }}
   {{- template "video.disk_count" . }}
   {{- /* Readerware image fields */ -}}
   {{- template "video.rw_image1" . }}
   {{- template "video.rw_image2" . }}
   {{- template "video.rw_image3" . }}
   {{- template "video.rw_image4" . }}
   {{- template "video.rw_large_image1" . }}
   {{- template "video.rw_large_image2" . }}
   {{- template "video.rw_large_image3" . }}
   {{- template "video.rw_large_image4" . }}
   {{- /* Computed fields */ -}}
   {{- template "video.credit" . -}}
   {{- template "video.barcode" . -}}
   {{- template "rw.audit" . }}
  </entry>
{{- end -}}
