{{- define "video.aggregate" -}}
{{- /* Default aggregation template for video entries. */ -}}
{{- /* Calls the built-in aggregation logic to populate Credits and Markers. */ -}}
{{- .Aggregate -}}
{{- end -}}
