{{- define "video.rw_category" -}}
{{- with .Categories }}
   <rw_categories>
    {{- range . }}
    <rw_category>{{ . | xml }}</rw_category>
    {{- end }}
   </rw_categories>
{{- end -}}
{{- end -}}
