{{- define "video.photographer" -}}
{{- with .Photographers }}
   <photographers>
    {{- range . }}
    <photographer>{{ . | xml }}</photographer>
    {{- end }}
   </photographers>
{{- end -}}
{{- end -}}
